{% extends "base.html" %}
{% block content %}
    <div class="section blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <div class="page-title">
                        <h2 class="lead">LATEST NEWS</h2>
                        <div class="border-style"></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <div class="blog-item">
                        <div class="gambar">
                            <div class="date">
                                May 29, 2015
                            </div>
                            <img src="http://placehold.it/900x500" alt="" class="img-responsive"/>
                        </div>
                        <div class="item-body">
                            <div class="description">
                                <p class="lead">
                                    <a href="news-single.html" title="">We give you good documentation to make easy to
                                        understand about this templates and the features.</a>
                                </p>
                                <a href="news-single.html" title="" class="readmore">Read More</a>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="blog-item">
                        <div class="gambar">
                            <div class="date">
                                May 29, 2015
                            </div>
                            <img src="http://placehold.it/900x500" alt="" class="img-responsive"/>
                        </div>
                        <div class="item-body">
                            <div class="description">
                                <p class="lead">
                                    <a href="news-single.html" title="">We give you good documentation to make easy to
                                        understand about this templates and the features.</a>
                                </p>
                                <a href="news-single.html" title="" class="readmore">Read More</a>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="blog-item">
                        <div class="gambar">
                            <div class="date">
                                May 29, 2015
                            </div>
                            <img src="http://placehold.it/900x500" alt="" class="img-responsive"/>
                        </div>
                        <div class="item-body">
                            <div class="description">
                                <p class="lead">
                                    <a href="news-single.html" title="">We give you good documentation to make easy to
                                        understand about this templates and the features.</a>
                                </p>
                                <a href="news-single.html" title="" class="readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}