{% extends "base.html" %}
{% block content %}
    <div class="section blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <div class="page-title">
                        <h2 class="lead">LATEST NEWS</h2>
                        <div class="border-style"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for n in news %}
                <div class="col-sm-12 col-md-4">
                    <div class="blog-item">
                        <div class="gambar">
                            <div class="date">
                                {{ n.created.date }}
                            </div>
                            <img src="http://placehold.it/900x500" alt="" class="img-responsive"/>
                        </div>
                        <div class="item-body">
                            <div class="description">
                                <p class="lead">
                                    <a href="{% url "news" %}#{{ news.id }}" title="">{{ n.title }}</a>
                                </p>
                                <a href="{% url "news" %}#{{ news.id }}" title="" class="readmore">Lire plus</a>

                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}